#chat-app-container {
  padding: 12px;
}

#chat-header {
  display: flex;
  justify-content: space-between;
}

#chat-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

#chat-logo-image {
  width: 36px;
  height: 36px;
}

#chat-logo h2 {
  font-size: 24px;
}

#user-info {
  display: flex;
  gap: 8px;
}

#user-info p {
  font-size: 14px;
}

#user-avatar {
  width: 24px;
  height: 24px;
}

#main-content {
  display: grid;
  grid-template-columns: auto 9fr;
  height: calc(100vh - 65px);
}

#navigation-panel {
  display: flex;
  flex-direction: column;
  gap: 60px;
  place-content: center;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

#content {
  display: grid;
  grid-template-columns: inherit;
  gap: 12px;
  padding-left: 12px;
  padding-top: 12px;
}

#search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

#search-input {
  padding-inline: 8px;
  padding-block: 4px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  font-size: 14px;
}

#search-input::placeholder {
  font-size: 12px;
}

.search-icon {
  width: 18px;
  height: 18px;
}

#user {
  width: 200px;
}

#user-list {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin-top: 12px;
  padding: 12px;
  box-sizing: border-box;
  height: calc(100vh - 114px);
  overflow: scroll;
  scrollbar-width: none;
}

#user-list-data {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

#user-list-data-icon {
  width: 24px;
  height: 24px;
}

#user-list-data-name {
  font-size: 14px;
}

#chat {
  height: 100%;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

#chat-user,
#chat-message,
#chat-input {
  padding-inline: 8px;
  padding-block: 8px;
}

#chat-user {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
}

#chat-user-online {
  background-color: #31f931;
  width: 8px;
  height: 8px;
  border-radius: 24px;
}

#chat-user-offline {
  background-color: #f17272;
  width: 8px;
  height: 8px;
  border-radius: 24px;
}

#chat-user-icon {
  width: 24px;
  height: 24px;
}

#chat-message {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 8px;
  scrollbar-width: none;
}

.sender {
  max-width: 40%;
  align-self: flex-end;
  background-color: #d1e7ff;
  border-radius: 10px 10px 0 10px;
}

.receiver {
  max-width: 40%;
  align-self: flex-start;
  background-color: #f1f1f1;
  border-radius: 10px 10px 10px 0;
}

.message {
  padding: 8px;
}

#chat-input {
  position: absolute;
  bottom: 16px;
  width: inherit;
}

#chat-input-box {
  width: calc(100vw - 310px);
  padding-block: 4px;
  padding-inline: 8px;
  border-color: #d6d6d6;
  border-style: groove;
  border-radius: 4px;
  font-size: 14px;
}

#chat-input-send-icon {
  width: 24px;
  position: absolute;
  right: 14px;
  top: 10px;
}

#search-input,
#chat-input-box {
  padding-inline: 8px;
  padding-block: 4px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

#search-input:focus,
#chat-input-box:focus {
  border-color: #d6d6d6;
  outline: none;
}

#search-input::placeholder,
#chat-input-box::placeholder {
  font-size: 12px;
  line-height: normal;
}
